.txt {
    font-size: 17px!important; 
    line-height: 25px;
    
    background: transparent !important; 
}
.txt .badge{
    font-weight: 400 !important;
}

.normal-txt {
    font-size: 17px!important; 
    line-height: 25px;
    font-weight: 400;
    background: transparent !important; 
}

.Addtxt {
    line-height: 30px;
    font-weight: 500;
    background: transparent !important; 
}

.bg-btn{
    background-color: #f05922 !important;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px !important;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 10px 10px 10px 10px !important;
}

.view-btn {
     /*font-size: 12px;
    width: 40px;
    height: 25px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center; */
}


.border-dark1 {
    border-color: "#d3d3d3 !important";
}

.feedback-container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.feedback-container h6{
    border: 0.5px solid #787878;
    padding: 10px;
}